/* Basic styling */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #040725;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    text-decoration: none;
    font-family: 'Tektur';
    color: white;
    font-size:2em;
    font-weight: 600;
    letter-spacing: 3px;
  }
  
  ul.navbar {
    list-style: none;
    display: flex;
    gap:4em;
  }

  .user-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
    display: block;

  }
  .sub-menu-wrap {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    top: 120px;
    width: 320px;
    right: 2%;
    transition: max-height 0.3s ease-out;
  }
  
  .parent-container { 
    position: relative;
  }
  
   .sub-menu-wrap.open-menu{
    max-height: 400px;
   }
   .sub-menu{
    background: #fff;
    padding: 20px;
   }
   .user-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
   }
  .user-info h2{
    margin: 0;
    font-weight: 500;
  }
  .user-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
  }
  .sub-menu-link{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom:1.8rem;
  }
  .sub-menu-link p{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    width: 100%;
    transition:transform 0.2s ; 

  }
  .sub-menu-link i {
    color: #040725;
    font-size: 2rem;
    border-radius: 50%;
    padding: 8px;
    margin-right: 20px;
  }
.sub-menu-link span{
  font-size: 22px;
  transition:transform 0.5s ease-in; 
}
.sub-menu-link span:hover{
  transform:  translateX(5px);
}
.sub-menu-link:hover p{
  transform: scaleX(1.1);
  

}

  ul.navbar li {
    font-size: 1.4rem;
    letter-spacing: 2px;

  }
  
  ul.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  ul.navbar .dropdown:hover .dropdown-content {
    display: block;
  }
  
  ul.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b2e35;
    min-width: 240px;
    text-align: center;
    list-style: none;
    padding: 10px 0;
    margin-top: 5px;
  }
  
  ul.dropdown-content li {
    padding: 8px 16px;
  }
  
  ul.dropdown-content li a {
    color: white;
  }
  
  .auth-buttons {
    display: flex;
    gap: 24px;
  }
  .name{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .auth-buttons a {
    text-decoration: none;
    border-radius: 4px;
    font-family:'Lora' ;
    font-size: 1.4em;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .auth-buttons a:hover {
    background-color: #cccaca88;
  }
  
  .user-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .user-container:hover .user-pic {
    transform: scale(1.1);
  }
  
  .username {
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: color 0.3s ease-in-out;
  }
  
  .user-container:hover .username {
    color: #007bff;
  }
  