*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
  
}
.hero{
    background: #040725;
    width: 100%;
    /*background-image: url('/assets/images/bg.png');*/
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;


}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem 10rem;
   
  }
  .socials{
    display: flex;
    justify-content: space-around;
    border-top-right-radius: 4rem;
    background-color: white;
    width: 35%;
    padding: 2rem 0 2rem 0;

  }
  .card-img{
    border-radius: 20px;
  }
.socials i {
    color: #314e58;
}
.hero h1 {
    font-size: 3.5rem;
    line-height: 1.6em;
    font-family: 'Lora';
    font-weight: 500;
    color: white;
}
  .hero h1 span{
    font-family: 'Tektur';
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid black;
    padding: 2px 8px 2px 8px;
    border-radius: 20px;
  }
  .hero h1 span:hover{
    background-color: #314e58;
  }

  .hero p {
    width: 66%;
    font-family: 'Lora';
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 35px;
    margin-left: 1.5em;
    font-size: 1.75rem;
    color: #f5e6d3;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .roadmaps {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .roadmaps h2 {
    font-family: 'Tektur';
    letter-spacing: 4px;
    font-size:3em ;
    font-weight: 400;
    text-align: center;
    padding: 20px;
  }

  

  .cards{
    display: flex;
    justify-content: space-around;

  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h3 {
    font-family: 'Lora';
    font-weight: 600;
    font-size: 1.5rem;
  }
  .card p {
    font-weight: 600;
    font-family: 'Lora';
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center  ;
    width: 70%;
    color: black;

  }
  

  



  .reviews {
    background: linear-gradient(to bottom, white 0%, #040725 30%);
    padding: 3em 4em 4em 4em;
    text-align: center;
  }
  .review-card::after{
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
    border: 1px solid green;
    text-shadow: 22px 22px #f5e6d3;
    text-align: left;
    font-size: 55px;
      width: 55px;
      height: 11px;
    border-radius: 11px;  
    background-color: beige;
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px #314e58;
    z-index: -2;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  @keyframes float2 {
    0% {
      line-height: 30px;
      transform: translatey(0px);
    }
    55% {
      transform: translatey(-20px);
    }
    60% {
      line-height: 10px;
    }
    100% {
      line-height: 30px;
      transform: translatey(0px);
    }
  }
  .header  {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10000  ;
  }
  



  .review-card2{
    width: 60%;

  }
  .review-card3{
    width: 20%;

  }
  .review-card4{
    width: 30%;
  }
  .review-card5{
    width: 40%;

  }
  .review-card6{
    width: 30%;
  }

  .review-grid {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
  .review1{
    display: flex;
    gap: 2em;
  }
  .review2  {
    display: flex;
    gap: 2em;

  }
  .profile img {
    width: 80px;
    height: 80px;         
    border-radius: 50%;    
    object-fit: cover;    
    margin-bottom: 10px;  
  }
  .profile{
    display: flex;
    gap: 1.5em;
  }
  .profile h4 {
    font-family: 'tektur';
    letter-spacing: 3px;

  }
  .review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FFC5D3;
    border-radius: 1.5em;
    border: 1px solid black;
    padding: 3em;
    animation: float 5s ease-in-out infinite;
  text-transform: uppercase;
  background-color: #f5e6d3;  
  box-shadow: 20px 20px #1b2e35fb; 
  }

  
  .review-card p {
    font-size: 1.2rem;
    font-family: 'Lora';
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: black;
  }
  
  .review-card h4 {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /* Responsive Design for Reviews */
  @media (max-width: 768px) {
    .review-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .review-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .review-card1{
    border-radius: 2em 2em 2em 0;
    width: 20%;
  }
  .stats {
    display: flex;
    flex-direction: column  ;
    align-items: center;
    gap: 2rem;
    background-color: #060b3c;
    padding: 1rem 0 2rem 0rem;

  }


.stats h2 {
  color: white;
    font-family: 'Tektur';
    letter-spacing: 4px;
    font-size:3em ;
    font-weight: 400;
    text-align: center;
    padding: 20px;
  }
  .reviews h2 {
    font-family: 'Tektur';
    letter-spacing: 4px;
    font-size:3em ;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .stat-cards {
    width: 100%;
   display: flex;
   justify-content: space-around;

  }
  
  .stat-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    text-align: center;
  }
  
  .stat-card h3 {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Lora';
    color: #FFC5D3  ;
  }
  
  .stat-card p {
    font-size: 1.6rem;
    color: white;
  }

  img {
    display: block;
    max-width: 100%;
  }
  
  .card-info {
    --_br: 0.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto 1fr;
    width: 30%;
    position: relative;
  }
  
  .card-image {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    border-radius: var(--_br);
    overflow: hidden;
  }
  
  .card-image::before,
  .card-image::after,
  .card-title::after {
    --_size: var(--_br);
    content: "";
    position: absolute;
    width: var(--_size);
    aspect-ratio: 1;
    background-image: radial-gradient(
      circle at 100% 100%,
      transparent var(--_size),
      var(--_corner-color, white) calc(var(--_size) + 1px)
    );
    rotate: -90deg;
  }
  
  .card-image::before {
    left: 0;
    bottom: 0;
    grid-column: 2;
    grid-row: 2 / 3;
  }
  
  .card-image::after {
    left: 0;
    bottom: 0;
    grid-column: 1;
    grid-row: 1 / 2;
    box-shadow: -1rem 0 0 white;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.4em;
    display: grid;
    padding: 1rem 1rem 1rem 1rem;
    background:#040725;
    font-weight: 500;
    font-family: 'Tektur';
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: var(--_br) var(--_br) 0 0;
    box-shadow: 0 1rem 0 #040725, 0 0 0 1rem white;
  }
  
  .card-title::after {
    --_size: calc(var(--_br) * 1.5);
    --_corner-color:#040725;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    left: -1rem;
    bottom: -1rem;
  }
  
  .card-title span {
    display: grid;
    place-items: center;
    background: white;
    padding: 0.75rem 0.75rem;
    border-radius: calc(var(--_br) / 2);
  }
  
  .card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    list-style-type: none; 
    background:#040725e7;
    color: #f5e6d3;
    font-family: 'Lora';
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.8;
    padding: 1rem 2rem 1rem;
    border-radius: 0 var(--_br) var(--_br) var(--_br);
  }
  .features{
    margin: 5rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .front{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .front h1{
    color: #060b3c;
    font-size: 2.8rem;
    font-family: 'Lora';
  }
  .features h2{
    font-family: 'Tektur';
    letter-spacing: 4px;
    font-size:3em ;
    font-weight: 400;
    text-align: center;
    padding: 20px;

  }
  .feature-cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .feature-card {
    --hover-bg: #ffe5f41c;
    --hover-text: black;
    text-align: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1), transform .15s ease;
    gap: 1em;
  }
  
  .feature-card > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
  }
  
  .feature-card > strong {
    display: block;
    font-family: 'noto sans';
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;

  }
  
  .feature-card span {
    display: none;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--hover-text);
    border-radius: 5px;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
  }




 


  .feature-card:hover span {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    line-height: 3rem;
    font-size: 2rem;
  }
  
  .feature-card:hover {
    background: var(--hover-bg);
  }
  
  .feature-card:hover > div, .feature-card:hover > strong {
    opacity: 0;
  }
  


  .card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .card-info {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .card-info:hover {
    transform: scale(1.05);
  }
  