* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.footer {
  background-color: #040725;
  color: #fff;
  padding: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}


.footer-section{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer-section h4 {
  text-align: center;
  font-size: 2em;
  color: #ecf0f1;
  font-family: 'Tektur';
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #bdc3c7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #ecf0f1;
}

.roadmapex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}




.footer-section form {
  display: flex;
  flex-direction: column;
}

.footer-section input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #34495e;
  color: #fff;
}

.roadmapex{
  gap: 10px   ;
  max-height: 30em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-section button[type="submit"] {
  padding: 10px;
  background-color: #16a085;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-link span{
  font-size: 20px;
  color: white;
  text-transform: uppercase
}

.footer-section button[type="submit"]:hover {
  background-color: #1abc9c;
}
.social-icons{
  display: flex;
  gap:20px;
  align-items: center;
  justify-content: center;
}

.social-icons li {
  display: inline-block;
  margin-right: 1em;
}

.social-icons a {
  font-size: 2em; 
  color: #bdc3c7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ecf0f1;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.footer-bottom p {
  color: #bdc3c7;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-right: 0;
    text-align: center;
  }

  .roadmap-list li {
    flex: 1 0 45%; 
  }
}

@media (max-width: 480px) {
  .roadmap-list li {
    flex: 1 0 100%;
  }

  .social-icons {
    justify-content: center;
  }
}