
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


<div class="container">
  <app-header></app-header>
    <div class="content">
      <div class="roadmap">
        <h1>{{roadmapId}}/ {{ roadmapName }}
          <span *ngIf="progressSum !== 0">
            ({{ (progressSum / totalprogress * 100) | number:'1.0-0' }}%)
          </span>
          <i class="fa-heart"
             [class.fa-solid]="isLoved()"
             [class.fa-regular]="!isLoved()"
             (click)="toggleLove($event)"
             style="cursor: pointer; margin-left: 10px;" *ngIf="isLoggedIn()"></i>
        </h1>
        <i class="fa-solid fa-download" (click)="downloadPDF()"></i>
      </div>
      <div class="grid">
        <ul>
          <li *ngFor="let item of data" (click)="selectItem(item)" >
            <h5>{{ item.title }}</h5>
            <i class="fa fa-arrow-right fa-thin fa-fade" style="color: wheat; font-size: 2rem;"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="overlay" *ngIf="selectedItem">
    <div class="details-window" *ngIf="selectedItem">
      <button class="close-btn" (click)="closeWindow()">✖</button>
      <div class="done-container" *ngIf="isLoggedIn()">
        <input 
          type="checkbox" 
          id="doneCheckbox" 
          [checked]="doneStates[data.indexOf(selectedItem)]"
          (change)="onDoneChange(data.indexOf(selectedItem))"
        >
        <label for="doneCheckbox">Done</label>
      </div>
      <h2>{{ selectedItem.title }}</h2>
      <hr>
      <p>{{ selectedItem.description }}</p>
      <hr>
      <h3>Resources</h3>
      <ul> 
        <li *ngFor="let link of selectedItem.links">
          <a [href]="link.url" target="_blank">{{ link.title }}</a>
        </li>
      </ul>
    </div>
    <div class="dimmer" (click)="closeWindow()"></div>
  </div>
  <app-footer></app-footer>
</div>




 






