*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: #040725;
  margin: auto;
}
.wrapper{
  margin-top: 4rem;

}
h1{
  font-family: 'Tektur';
  text-align: center;
  color: #DBC84A;
  margin-bottom: 0;
}
ul{
  margin: auto;
  max-width:  60vw;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 5rem;
}
li{

  display: flex;
  align-items: center;
  text-align: center;
justify-content: space-around;
  align-items: center;


}
li h5{
  padding: 0.8rem;
  width: 220px;
  text-align: center;
  list-style-type: none  ;
  font-size: 1rem;
  border-radius: 0.3rem;
  background-color:#c3c6e60a ;
  color: rgba(255, 255, 255, 0.678);;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border: 0.01rem rgba(128, 128, 128, 0.37) solid;
  transition: border 0.3s ease, transform 0.3s ease;
}

 
li h5:hover {
  border: 0.01rem rgba(238, 223, 223, 0.89) solid;


 }

 .details-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw; 
  height: 100vh; 
  background: #fff; 
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10000; 
  overflow-y: auto; 
  display: block; 
  transition:  0.5s ease-in;
}
.roadmap{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.roadmap i{
  font-size: 3rem;
  color: white;
}
.dimmer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background: #000000; 
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  overflow-y: auto; 
  display: block; 
  opacity: 0.6;

}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.details-window h2{
  color: #2e3de2;
  font-family: 'Tektur';
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;
}

.details-window p {
  font-family: 'Lora';
  font-size: 1.1rem;
  margin-top: 2rem;
  text-align: center;
  color: #040725;
  padding: 2rem;
}

.details-window h3{
  color: #040725;

  font-family: 'Tektur';
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.details-window ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-window ul li a {
  text-decoration: none;
  color: #040725;

}
.details-window ul li {
  font-size: 0.9em;
  border: 0.01em solid grey;
  border-radius: 6px;
  padding: 0.5em;
  box-shadow: 4px 4px 10px grey;
}
.done-container {
  position: absolute;
  top: 10px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.done-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

i.fa-solid.fa-download:hover{
  color:#DBC84A;
  transition: ease 0.5s;
}

.done-container label {
  cursor: pointer;
  font-family: 'Tektur';
  color: #040725;
}
